# Enterprise Data Science

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mlp
import matplotlib.pyplot as plt
from sklearn import linear_model

from datetime import datetime

from scipy import signal


pd.set_option('display.max_rows',500)

![Crisp_DM](CRISP_DM.png)

# Data Preparation 
# Group by apply on large Data set

## Assumptions are that the data frame are with sorted Dates

In [2]:
pd_JH_data=pd.read_csv('C:/Users/jitin/ads_covid-19/data/processed/COVID_relational_confirmed.csv',sep=';',parse_dates=[0])
pd_JH_data=pd_JH_data.sort_values('date',ascending=True).reset_index(drop=True).copy()
pd_JH_data.head()

        date    state       country  confirmed
0 2020-01-22  Alberta        Canada          0
1 2020-01-22       no  Korea, South          1
2 2020-01-22       no        Kosovo          0
3 2020-01-22       no        Kuwait          0
4 2020-01-22       no    Kyrgyzstan          0

# Test Data Set

In [3]:

test_data=pd_JH_data[((pd_JH_data['country']=='US')|
                      (pd_JH_data['country']=='Germany'))&
                     (pd_JH_data['date']>'2020-04-01')]

In [4]:
#John Hopkins Data
test_data.head()

            date state  country  confirmed
18929 2020-04-02    no  Germany      84794
18969 2020-04-02    no       US     244610
19195 2020-04-03    no  Germany      91159
19235 2020-04-03    no       US     276547
19460 2020-04-04    no  Germany      96092

In [5]:
test_data.groupby(['country']).agg(np.max)

              date state  confirmed
country
Germany 2020-09-13    no     261737
US      2020-09-13    no    6519573

In [6]:
reg = linear_model.LinearRegression(fit_intercept=True)

def get_doubling_time_via_regression(in_array):
    ''' Use a linear regression to approximate the doubling rate'''

    y = np.array(in_array)
    X = np.arange(-1,2).reshape(-1, 1)

    assert len(in_array)==3
    reg.fit(X,y)
    intercept=reg.intercept_
    slope=reg.coef_

    return intercept/slope

In [7]:
test_data.groupby(['state','country']).agg(np.max)

                    date  confirmed
state country
no    Germany 2020-09-13     261737
      US      2020-09-13    6519573

In [8]:
def rolling_reg(df_input,col='confirmed'):
    ''' input has to be a data frame'''
    ''' return is single series (mandatory for group by apply)'''
    days_back=3
    result=df_input[col].rolling(
                window=days_back,
                min_periods=days_back).apply(get_doubling_time_via_regression,raw=False)
    return result

In [9]:
test_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed')

state  country
no     Germany  18929            NaN
                19195            NaN
                19460      16.052694
                19727      21.372453
                19993      27.427355
                20259      27.511936
                20525      21.792179
                20791      21.495848
                21057      26.565108
                21323      36.198404
                21588      43.982990
                21855      49.423444
                22121      74.043747
                22386      56.424411
                22654      42.468318
                22919      41.525988
                23185      49.898063
                23451      75.684007
                23716      78.000000
                23983      94.526338
                24248      82.985208
                24514      62.294061
                24781      70.294338
                25047      91.536840
                25312     112.903164
                25577     140.472457
                25845     148.285092
                26110     115.116625
                26377     104.285868
                26641     128.349094
                26908     167.535921
                27175     207.816845
                27440     279.484107
                27707     247.616282
                27973     166.275622
                28239     138.835878
                28505     139.648255
                28771     179.986624
                29037     265.319391
                29303     274.642705
                29568     267.092879
                29835     227.702584
                30101     266.129559
                30366     307.670485
                30634     274.967556
                30899     309.480047
                31165     441.111389
                31430     251.099125
                31697     184.808186
                31963     287.086082
                32229     289.519806
                32495     372.170639
                32760     582.550162
                33027     587.311618
                33292     414.470948
                33559     392.008658
                33825     364.738956
                34091     260.678112
                34357     368.114804
                34623     750.711749
                34889     905.667490
                35154     783.060412
                35421     697.778621
                35687     621.103991
                35953     459.540888
                36219     378.218132
                36485     448.849072
                36751     563.792615
                37017     492.385362
                37282     902.561743
                37549    2017.005405
                37815     530.718750
                38080     649.518519
                38348    1283.130137
                38613     903.561446
                38879     511.763851
                39145     408.198120
                39410     241.394249
                39677     223.685349
                39942     446.100821
                40208     392.080164
                40475     348.336369
                40741     317.615894
                41006     348.817770
                41271     433.013094
                41539     332.061803
                41804     356.862925
                42071     591.767631
                42335     666.886986
                42602     538.071724
                42869     459.344301
                43134     411.541317
                43401     442.723036
                43667     475.320451
                43933     530.732167
                44199     456.339492
                44465     482.869919
                44731     624.783202
                44997     603.893617
                45262     628.785677
                45529     563.128060
                45795     680.249858
                46060     848.985138
                46328     745.567970
                46593     564.813146
                46859     404.289738
                47124     348.851371
                47391     413.880464
                47657     586.672464
                47923     451.231739
                48189     413.969450
                48455     428.543989
                48721     351.016037
                48987     304.271220
                49252     294.336435
                49519     394.998723
                49785     495.649081
                50050     398.388462
                50316     289.802417
                50583     228.223195
                50848     226.112610
                51113     286.140136
                51381     513.701989
                51647     382.360458
                51911     263.747512
                52178     212.804529
                52445     193.571536
                52710     206.544407
                52976     231.809013
                53243     397.061661
                53507     271.110696
                53774     194.001184
                54040     186.844463
                54305     161.177186
                54573     151.644156
                54838     202.555505
                55103     369.126096
                55371     203.795961
                55637     145.588821
                55901     151.813262
                56168     144.833544
                56435     139.237035
                56700     181.181264
                56966     319.173606
                57233     207.718414
                57497     152.843207
                57764     164.523315
                58030     160.009817
                58295     154.408858
                58563     213.643110
                58828     411.798699
                59094     247.734960
                59361     180.595818
                59627     188.636259
                59893     175.166018
                60159     173.290158
                60425     225.482717
                60691     347.436678
                60956     196.368640
                61223     156.975534
                61487     181.692436
                61755     160.722431
                62019     156.332930
                62287     194.577961
                62552     260.502498
       US       18969            NaN
                19235            NaN
                19500       8.509948
                19767      10.092081
                20033      11.758896
                20298      12.168137
                20565      12.751442
                20831      12.963331
                21097      13.596369
                21362      15.640111
                21628      18.009116
                21894      20.631256
                22161      22.247854
                22426      21.707413
                22694      21.151373
                22959      20.922412
                23225      22.969844
                23490      26.750825
                23755      28.208839
                24023      29.696372
                24289      30.180436
                24554      26.941144
                24821      24.825600
                25087      26.203105
                25367      30.987791
                25617      38.552326
                25885      42.198851
                26151      39.055345
                26417      36.527008
                26681      33.678042
                26963      34.887174
                27216      41.430446
                27480      48.294855
                27747      50.778225
                28013      48.891730
                28278      46.460248
                28545      45.810909
                28811      48.689510
                29077      57.688653
                29342      69.033107
                29608      65.942632
                29874      63.722135
                30141      57.574047
                30406      53.780625
                30674      57.497298
                30939      66.754140
                31205      73.286423
                31470      71.744801
                31737      69.435527
                32003      63.450348
                32268      64.009509
                32535      69.962594
                32800      76.467742
                33067      82.940492
                33332      88.200032
                33599      90.889959
                33865      83.166946
                34130      73.155519
                34397      71.689586
                34663      80.148813
                34929      96.512671
                35194      95.040993
                35461      89.935215
                35727      89.946323
                35992      80.728889
                36259      79.367601
                36525      95.147270
                36791     110.639314
                37056     110.405848
                37322     101.785720
                37588      91.506248
                37855      83.862856
                38120      80.535367
                38388      91.345585
                38653     106.084051
                38919      97.561367
                39184      86.811830
                39449      81.098786
                39717      73.953774
                39983      69.221131
                40248      76.137888
                40515      80.145069
                40781      70.411225
                41061      66.951119
                41311      63.738424
                41579      56.951720
                41845      56.086949
                42111      60.970129
                42375      63.432294
                42657      59.903301
                42910      54.441257
                43174      50.905167
                43441      50.878532
                43707      56.312680
                43972      59.366881
                44239      60.936367
                44505      56.034821
                44771      50.507067
                45036      50.164921
                45302      47.611543
                45568      49.745703
                45835      54.452996
                46100      55.907166
                46368      53.175990
                46633      50.933902
                46899      48.445682
                47164      48.036905
                47431      53.899199
                47697      59.114995
                47962      61.220091
                48229      60.908067
                48495      57.608109
                48761      56.865910
                49026      56.744461
                49292      58.651279
                49558      68.787751
                49825      76.044250
                50090      70.222168
                50356      63.783405
                50623      63.772056
                50889      66.526569
                51153      72.612628
                51421      87.059011
                51687     100.431094
                51951      91.685726
                52233      86.443196
                52485      85.797301
                52751      82.858790
                53017      86.422707
                53283      96.884837
                53547     104.606172
                53829     105.735503
                54081      99.879424
                54345      96.442858
                54613      90.696852
                54880      94.607140
                55143     119.145185
                55411     139.992250
                55677     135.744110
                55941     119.866789
                56223     122.243661
                56475     120.358792
                56741     120.595325
                57007     143.068603
                57273     157.391062
                57537     150.913832
                57819     140.483170
                58071     129.279778
                58335     127.392986
                58603     126.767479
                58870     144.433394
                59134     172.565218
                59401     155.889350
                59667     146.464688
                59932     160.482444
                60199     141.473918
                60465     130.557982
                60731     164.558062
                61011     225.472064
                61263     248.848116
                61527     212.427622
                61796     184.137066
                62059     153.403356
                62328     144.718219
                62594     170.777062
Name: confirmed, dtype: float64

In [10]:
pd_DR_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed').reset_index()

In [11]:
pd_DR_result=pd_DR_result.rename(columns={'confirmed':'confirmed_DR',
                             'level_2':'index'})
pd_DR_result.head()

     state country  index  confirmed_DR
0  Alberta  Canada      0           NaN
1  Alberta  Canada    465           NaN
2  Alberta  Canada    701           NaN
3  Alberta  Canada    966           NaN
4  Alberta  Canada   1263           NaN

In [12]:
pd_JH_data=pd_JH_data.reset_index()
pd_JH_data.head()

   index       date    state       country  confirmed
0      0 2020-01-22  Alberta        Canada          0
1      1 2020-01-22       no  Korea, South          1
2      2 2020-01-22       no        Kosovo          0
3      3 2020-01-22       no        Kuwait          0
4      4 2020-01-22       no    Kyrgyzstan          0

In [13]:
pd_result_larg=pd.merge(pd_JH_data,pd_DR_result[['index','confirmed_DR']],on=['index'],how='left')
pd_result_larg.head()

   index       date    state       country  confirmed  confirmed_DR
0      0 2020-01-22  Alberta        Canada          0           NaN
1      1 2020-01-22       no  Korea, South          1           NaN
2      2 2020-01-22       no        Kosovo          0           NaN
3      3 2020-01-22       no        Kuwait          0           NaN
4      4 2020-01-22       no    Kyrgyzstan          0           NaN

In [14]:
pd_result_larg[pd_result_larg['country']=='Germany']

       index       date state  country  confirmed  confirmed_DR
43        43 2020-01-22    no  Germany          0           NaN
308      308 2020-01-23    no  Germany          0           NaN
575      575 2020-01-24    no  Germany          0           NaN
841      841 2020-01-25    no  Germany          0           NaN
1107    1107 2020-01-26    no  Germany          0           NaN
1373    1373 2020-01-27    no  Germany          1      0.666667
1638    1638 2020-01-28    no  Germany          4      0.833333
1905    1905 2020-01-29    no  Germany          4      2.000000
2170    2170 2020-01-30    no  Germany          4           inf
2437    2437 2020-01-31    no  Germany          5      8.666667
2703    2703 2020-02-01    no  Germany          8      2.833333
2969    2969 2020-02-02    no  Germany         10      3.066667
3235    3235 2020-02-03    no  Germany         12      5.000000
3501    3501 2020-02-04    no  Germany         12     11.333333
3767    3767 2020-02-05    no  Germany         12           inf
4032    4032 2020-02-06    no  Germany         12           inf
4299    4299 2020-02-07    no  Germany         13     24.666667
4565    4565 2020-02-08    no  Germany         13     25.333333
4831    4831 2020-02-09    no  Germany         14     26.666667
5097    5097 2020-02-10    no  Germany         14     27.333333
5363    5363 2020-02-11    no  Germany         16     14.666667
5629    5629 2020-02-12    no  Germany         16     15.333333
5895    5895 2020-02-13    no  Germany         16           inf
6160    6160 2020-02-14    no  Germany         16           inf
6427    6427 2020-02-15    no  Germany         16           inf
6693    6693 2020-02-16    no  Germany         16           inf
6958    6958 2020-02-17    no  Germany         16           inf
7224    7224 2020-02-18    no  Germany         16           inf
7491    7491 2020-02-19    no  Germany         16           inf
7756    7756 2020-02-20    no  Germany         16           inf
8023    8023 2020-02-21    no  Germany         16           inf
8287    8287 2020-02-22    no  Germany         16           inf
8554    8554 2020-02-23    no  Germany         16           inf
8820    8820 2020-02-24    no  Germany         16           inf
9085    9085 2020-02-25    no  Germany         17     32.666667
9353    9353 2020-02-26    no  Germany         27      3.636364
9618    9618 2020-02-27    no  Germany         46      2.068966
9884    9884 2020-02-28    no  Germany         48      3.841270
10151  10151 2020-02-29    no  Germany         79      3.494949
10417  10417 2020-03-01    no  Germany        130      2.089431
10683  10683 2020-03-02    no  Germany        159      3.066667
10949  10949 2020-03-03    no  Germany        196      4.898990
11215  11215 2020-03-04    no  Germany        262      3.993528
11481  11481 2020-03-05    no  Germany        482      2.191142
11746  11746 2020-03-06    no  Germany        670      2.310458
12013  12013 2020-03-07    no  Germany        799      4.103049
12279  12279 2020-03-08    no  Germany       1040      4.520721
12545  12545 2020-03-09    no  Germany       1176      5.331565
12811  12811 2020-03-10    no  Germany       1457      5.872102
13077  13077 2020-03-11    no  Germany       1908      4.135701
13343  13343 2020-03-12    no  Germany       2078      5.843264
13609  13609 2020-03-13    no  Germany       3675      2.890398
13874  13874 2020-03-14    no  Germany       4585      2.749103
14141  14141 2020-03-15    no  Germany       5795      4.419811
14407  14407 2020-03-16    no  Germany       7272      4.379606
14672  14672 2020-03-17    no  Germany       9257      4.298864
14940  14940 2020-03-18    no  Germany      12327      3.805605
15205  15205 2020-03-19    no  Germany      15320      4.057837
15471  15471 2020-03-20    no  Germany      19848      4.209990
15736  15736 2020-03-21    no  Germany      22213      5.549688
16003  16003 2020-03-22    no  Germany      24873      8.880133
16269  16269 2020-03-23    no  Germany      29056      7.417994
16535  16535 2020-03-24    no  Germany      32986      7.142035
16801  16801 2020-03-25    no  Germany      37323      8.012983
17066  17066 2020-03-26    no  Germany      43938      6.954407
17333  17333 2020-03-27    no  Germany      50871      6.501919
17598  17598 2020-03-28    no  Germany      57695      7.390371
17865  17865 2020-03-29    no  Germany      62095     10.136671
18131  18131 2020-03-30    no  Germany      66885     13.541893
18397  18397 2020-03-31    no  Germany      71808     13.781393
18663  18663 2020-04-01    no  Germany      77872     13.140681
18929  18929 2020-04-02    no  Germany      84794     12.037271
19195  19195 2020-04-03    no  Germany      91159     12.735506
19460  19460 2020-04-04    no  Germany      96092     16.052694
19727  19727 2020-04-05    no  Germany     100123     21.372453
19993  19993 2020-04-06    no  Germany     103374     27.427355
20259  20259 2020-04-07    no  Germany     107663     27.511936
20525  20525 2020-04-08    no  Germany     113296     21.792179
20791  20791 2020-04-09    no  Germany     118181     21.495848
21057  21057 2020-04-10    no  Germany     122171     26.565108
21323  21323 2020-04-11    no  Germany     124908     36.198404
21588  21588 2020-04-12    no  Germany     127854     43.982990
21855  21855 2020-04-13    no  Germany     130072     49.423444
22121  22121 2020-04-14    no  Germany     131359     74.043747
22386  22386 2020-04-15    no  Germany     134753     56.424411
22654  22654 2020-04-16    no  Germany     137698     42.468318
22919  22919 2020-04-17    no  Germany     141397     41.525988
23185  23185 2020-04-18    no  Germany     143342     49.898063
23451  23451 2020-04-19    no  Germany     145184     75.684007
23716  23716 2020-04-20    no  Germany     147065     78.000000
23983  23983 2020-04-21    no  Germany     148291     94.526338
24248  24248 2020-04-22    no  Germany     150648     82.985208
24514  24514 2020-04-23    no  Germany     153129     62.294061
24781  24781 2020-04-24    no  Germany     154999     70.294338
25047  25047 2020-04-25    no  Germany     156513     91.536840
25312  25312 2020-04-26    no  Germany     157770    112.903164
25577  25577 2020-04-27    no  Germany     158758    140.472457
25845  25845 2020-04-28    no  Germany     159912    148.285092
26110  26110 2020-04-29    no  Germany     161539    115.116625
26377  26377 2020-04-30    no  Germany     163009    104.285868
26641  26641 2020-05-01    no  Germany     164077    128.349094
26908  26908 2020-05-02    no  Germany     164967    167.535921
27175  27175 2020-05-03    no  Germany     165664    207.816845
27440  27440 2020-05-04    no  Germany     166152    279.484107
27707  27707 2020-05-05    no  Germany     167007    247.616282
27973  27973 2020-05-06    no  Germany     168162    166.275622
28239  28239 2020-05-07    no  Germany     169430    138.835878
28505  28505 2020-05-08    no  Germany     170588    139.648255
28771  28771 2020-05-09    no  Germany     171324    179.986624
29037  29037 2020-05-10    no  Germany     171879    265.319391
29303  29303 2020-05-11    no  Germany     172576    274.642705
29568  29568 2020-05-12    no  Germany     173171    267.092879
29835  29835 2020-05-13    no  Germany     174098    227.702584
30101  30101 2020-05-14    no  Germany     174478    266.129559
30366  30366 2020-05-15    no  Germany     175233    307.670485
30634  30634 2020-05-16    no  Germany     175752    274.967556
30899  30899 2020-05-17    no  Germany     176369    309.480047
31165  31165 2020-05-18    no  Germany     176551    441.111389
31430  31430 2020-05-19    no  Germany     177778    251.099125
31697  31697 2020-05-20    no  Germany     178473    184.808186
31963  31963 2020-05-21    no  Germany     179021    287.086082
32229  32229 2020-05-22    no  Germany     179710    289.519806
32495  32495 2020-05-23    no  Germany     179986    372.170639
32760  32760 2020-05-24    no  Germany     180328    582.550162
33027  33027 2020-05-25    no  Germany     180600    587.311618
33292  33292 2020-05-26    no  Germany     181200    414.470948
33559  33559 2020-05-27    no  Germany     181524    392.008658
33825  33825 2020-05-28    no  Germany     182196    364.738956
34091  34091 2020-05-29    no  Germany     182922    260.678112
34357  34357 2020-05-30    no  Germany     183189    368.114804
34623  34623 2020-05-31    no  Germany     183410    750.711749
34889  34889 2020-06-01    no  Germany     183594    905.667490
35154  35154 2020-06-02    no  Germany     183879    783.060412
35421  35421 2020-06-03    no  Germany     184121    697.778621
35687  35687 2020-06-04    no  Germany     184472    621.103991
35953  35953 2020-06-05    no  Germany     184924    459.540888
36219  36219 2020-06-06    no  Germany     185450    378.218132
36485  36485 2020-06-07    no  Germany     185750    448.849072
36751  36751 2020-06-08    no  Germany     186109    563.792615
37017  37017 2020-06-09    no  Germany     186506    492.385362
37282  37282 2020-06-10    no  Germany     186522    902.561743
37549  37549 2020-06-11    no  Germany     186691   2017.005405
37815  37815 2020-06-12    no  Germany     187226    530.718750
38080  38080 2020-06-13    no  Germany     187267    649.518519
38348  38348 2020-06-14    no  Germany     187518   1283.130137
38613  38613 2020-06-15    no  Germany     187682    903.561446
38879  38879 2020-06-16    no  Germany     188252    511.763851
39145  39145 2020-06-17    no  Germany     188604    408.198120
39410  39410 2020-06-18    no  Germany     189817    241.394249
39677  39677 2020-06-19    no  Germany     190299    223.685349
39942  39942 2020-06-20    no  Germany     190670    446.100821
40208  40208 2020-06-21    no  Germany     191272    392.080164
40475  40475 2020-06-22    no  Germany     191768    348.336369
40741  40741 2020-06-23    no  Germany     192480    317.615894
41006  41006 2020-06-24    no  Germany     192871    348.817770
41271  41271 2020-06-25    no  Germany     193371    433.013094
41539  41539 2020-06-26    no  Germany     194036    332.061803
41804  41804 2020-06-27    no  Germany     194458    356.862925
42071  42071 2020-06-28    no  Germany     194693    591.767631
42335  42335 2020-06-29    no  Germany     195042    666.886986
42602  42602 2020-06-30    no  Germany     195418    538.071724
42869  42869 2020-07-01    no  Germany     195893    459.344301
43134  43134 2020-07-02    no  Germany     196370    411.541317
43401  43401 2020-07-03    no  Germany     196780    442.723036
43667  43667 2020-07-04    no  Germany     197198    475.320451
43933  43933 2020-07-05    no  Germany     197523    530.732167
44199  44199 2020-07-06    no  Germany     198064    456.339492
44465  44465 2020-07-07    no  Germany     198343    482.869919
44731  44731 2020-07-08    no  Germany     198699    624.783202
44997  44997 2020-07-09    no  Germany     199001    603.893617
45262  45262 2020-07-10    no  Germany     199332    628.785677
45529  45529 2020-07-11    no  Germany     199709    563.128060
45795  45795 2020-07-12    no  Germany     199919    680.249858
46060  46060 2020-07-13    no  Germany     200180    848.985138
46328  46328 2020-07-14    no  Germany     200456    745.567970
46593  46593 2020-07-15    no  Germany     200890    564.813146
46859  46859 2020-07-16    no  Germany     201450    404.289738
47124  47124 2020-07-17    no  Germany     202045    348.851371
47391  47391 2020-07-18    no  Germany     202426    413.880464
47657  47657 2020-07-19    no  Germany     202735    586.672464
47923  47923 2020-07-20    no  Germany     203325    451.231739
48189  48189 2020-07-21    no  Germany     203717    413.969450
48455  48455 2020-07-22    no  Germany     204276    428.543989
48721  48721 2020-07-23    no  Germany     204881    351.016037
48987  48987 2020-07-24    no  Germany     205623    304.271220
49252  49252 2020-07-25    no  Germany     206278    294.336435
49519  49519 2020-07-26    no  Germany     206667    394.998723
49785  49785 2020-07-27    no  Germany     207112    495.649081
50050  50050 2020-07-28    no  Germany     207707    398.388462
50316  50316 2020-07-29    no  Germany     208546    289.802417
50583  50583 2020-07-30    no  Germany     209535    228.223195
50848  50848 2020-07-31    no  Germany     210399    226.112610
51113  51113 2020-08-01    no  Germany     211005    286.140136
51381  51381 2020-08-02    no  Germany     211220    513.701989
51647  51647 2020-08-03    no  Germany     212111    382.360458
51911  51911 2020-08-04    no  Germany     212828    263.747512
52178  52178 2020-08-05    no  Germany     214113    212.804529
52445  52445 2020-08-06    no  Germany     215039    193.571536
52710  52710 2020-08-07    no  Germany     216196    206.544407
52976  52976 2020-08-08    no  Germany     216903    231.809013
53243  53243 2020-08-09    no  Germany     217288    397.061661
53507  53507 2020-08-10    no  Germany     218508    271.110696
53774  53774 2020-08-11    no  Germany     219540    194.001184
54040  54040 2020-08-12    no  Germany     220859    186.844463
54305  54305 2020-08-13    no  Germany     222281    161.177186
54573  54573 2020-08-14    no  Germany     223791    151.644156
54838  54838 2020-08-15    no  Germany     224488    202.555505
55103  55103 2020-08-16    no  Germany     225007    369.126096
55371  55371 2020-08-17    no  Germany     226700    203.795961
55637  55637 2020-08-18    no  Germany     228120    145.588821
55901  55901 2020-08-19    no  Germany     229706    151.813262
56168  56168 2020-08-20    no  Germany     231292    144.833544
56435  56435 2020-08-21    no  Germany     233029    139.237035
56700  56700 2020-08-22    no  Germany     233861    181.181264
56966  56966 2020-08-23    no  Germany     234494    319.173606
57233  57233 2020-08-24    no  Germany     236122    207.718414
57497  57497 2020-08-25    no  Germany     237583    152.843207
57764  57764 2020-08-26    no  Germany     239010    164.523315
58030  58030 2020-08-27    no  Germany     240571    160.009817
58295  58295 2020-08-28    no  Germany     242126    154.408858
58563  58563 2020-08-29    no  Germany     242835    213.643110
58828  58828 2020-08-30    no  Germany     243305    411.798699
59094  59094 2020-08-31    no  Germany     244802    247.734960
59361  59361 2020-09-01    no  Germany     246015    180.595818
59627  59627 2020-09-02    no  Germany     247411    188.636259
59893  59893 2020-09-03    no  Germany     248840    175.166018
60159  60159 2020-09-04    no  Germany     250283    173.290158
60425  60425 2020-09-05    no  Germany     251058    225.482717
60691  60691 2020-09-06    no  Germany     251728    347.436678
60956  60956 2020-09-07    no  Germany     253626    196.368640
61223  61223 2020-09-08    no  Germany     254957    156.975534
61487  61487 2020-09-09    no  Germany     256433    181.692436
61755  61755 2020-09-10    no  Germany     258149    160.722431
62019  62019 2020-09-11    no  Germany     259735    156.332930
62287  62287 2020-09-12    no  Germany     260817    194.577961
62552  62552 2020-09-13    no  Germany     261737    260.502498

## Filtering the Data with groupby apply

In [15]:
def savgol_filter(df_input,column='confirmed',window=5):
    ''' Savgol Filter which can be used in groupby apply function 
        it ensures that the data structure is kept'''
    window=5, 
    degree=1
    df_result=df_input
    
    filter_in=df_input[column].fillna(0) # attention with the neutral element here
    
    result=signal.savgol_filter(np.array(filter_in),
                           5, # window size used for filtering
                           1)
    df_result[column+'_filtered']=result
    return df_result

In [16]:
pd_filtered_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(savgol_filter).reset_index()

In [17]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_result[['index','confirmed_filtered']],on=['index'],how='left')
pd_result_larg.head()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered
0,0,2020-01-22,Alberta,Canada,0,NaN,0.0
1,1,2020-01-22,no,"Korea, South",1,NaN,0.8
2,2,2020-01-22,no,Kosovo,0,NaN,0.0
3,3,2020-01-22,no,Kuwait,0,NaN,0.0
4,4,2020-01-22,no,Kyrgyzstan,0,NaN,0.0

## Filtered Doubling Rate

In [18]:
pd_filtered_doubling=pd_result_larg[['state','country','confirmed_filtered']].groupby(['state','country']).apply(rolling_reg,'confirmed_filtered').reset_index()

pd_filtered_doubling=pd_filtered_doubling.rename(columns={'confirmed_filtered':'confirmed_filtered_DR',
                             'level_2':'index'})

pd_filtered_doubling.tail()

      state   country  index  confirmed_filtered_DR
62771    no  Zimbabwe  61540              57.891362
62772    no  Zimbabwe  61776              86.626761
62773    no  Zimbabwe  62072             213.982759
62774    no  Zimbabwe  62308             284.880000
62775    no  Zimbabwe  62775             301.361446

In [19]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_doubling[['index','confirmed_filtered_DR']],on=['index'],how='left')
pd_result_larg.tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
62771,62771,2020-09-13,no,Barbados,181,360.666667,180.6,902.000000
62772,62772,2020-09-13,no,Belarus,74173,380.346187,74170.2,384.099688
62773,62773,2020-09-13,no,Belgium,93455,96.444213,93433.4,97.997033
62774,62774,2020-09-13,no,Albania,11353,67.387550,11349.2,68.927295
62775,62775,2020-09-13,no,Zimbabwe,7526,319.333333,7528.8,301.361446

In [20]:
mask=pd_result_larg['confirmed']>100
pd_result_larg['confirmed_filtered_DR']=pd_result_larg['confirmed_filtered_DR'].where(mask, other=np.NaN)

In [21]:
pd_result_larg[pd_result_larg['country']=='Germany'].tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
61487,61487,2020-09-09,no,Germany,256433,181.692436,256580.0,168.922815
61755,61755,2020-09-10,no,Germany,258149,160.722431,258018.2,168.789051
62019,62019,2020-09-11,no,Germany,259735,156.332930,259374.2,184.661656
62287,62287,2020-09-12,no,Germany,260817,194.577961,260701.8,193.296120
62552,62552,2020-09-13,no,Germany,261737,260.502498,262029.4,196.370744

In [22]:
pd_result_larg.to_csv('C:/Users/jitin/ads_covid-19/data/processed/COVID_final_set.csv',sep=';',index=False)